@model AciliyetAddDto

@{
    Layout="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="w-75 mx-auto p-3" method="post">
    <div class="form-group">
        <label asp-for="@Model.Tanim">Tanım :</label>
        <span asp-validation-for="Tanim" class="text-danger"></span>
        <input asp-for="Tanim" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-info btn-sm">Kaydet <i class="fas fa-check ml-2"></i></button>
</form>


@section JavaScript{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}