@model List<GorevListAllDto>


@{
    ViewData["Title"] = "Home Page";
    Layout="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <table class="table table-hover table-bordered table-sm mt-2">
        <tr>
           
            <th>Görev</th>            
            <th>Aciklama</th>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.Ad</td>    
                <td>@item.Aciklama</td>
                
            </tr>
        }    
    </table>

